:root {
    --primary-color: #ffffff;
    --background-color: #ffffff;
    --font: sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
.timeline-header-container{
    display: flex;
    background: var(--primary-color);
    width: 100vw;
    margin-left: 4vw;
    justify-content: space-around;

}

  .education-header{

    color:#374497;
    font-size: 10vh;
    font-weight: 300;
    margin-left:5vw;
    margin-top: 20vh;
  }
  .time-line-container {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
  }
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width:30vw;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #28262c;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    font-size: 1vh;
    display: flex;
    flex-direction: column;
    background: #f9bd4d;
    color: rgb(251, 251, 251);
    border-radius: 10px;
    padding: 2vh 3vh;  
    
  }
 
  .time-desc{
    font-size: 2vh;
    margin-top: 3vh;
  }
  /* Title of thecard */
  .title {
    font-size: 2.2vh;
    color: rgb(113, 5, 156);
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #28262c;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  @media screen and (max-width: 1013px) {
    .timeline-header-container{
        display: flex;
        flex-direction: column;
        background: var(--primary-color);
        width: 100vw;
        justify-content: space-around;
    
    }
    .education-header{

        color:#374497;
        font-size: 5vh;
        margin-top: 10vh;
    }
    .card{

        max-width:80vw
    }
    .time-desc{
        margin-top: 5vh;
    }

}
