@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(46, 47, 48);
  font-weight: 400;

}

a:hover{

  color:rgb(254, 73, 209);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 3vw 1vh 8vw;
  height: 10vh;
  background: #f2f1f3;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5vw;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1013px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
    z-index: 9;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 60vh;
    padding-bottom:3vh;
    padding-top:3vh;
    width: 50vw;
    background: rgba(255, 255, 255, 0.872);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 7;
    margin-right: 0vw;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}