.footer-social{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0c1821;
    padding: 1vh 5vw;
    margin-bottom: 0;
    width: 100vw;
    flex-wrap: wrap;
    margin-left: 4vw;
}
.credits h3{

    color: beige;
    font-family: poppins;
    font-weight: 500;
}