
.footer-social{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #0c1821;
    padding: 1vh 5vw;
    margin-bottom: 0;
    width: 100vw;
    
}
.footer-social-links{

    display: flex;
    flex-direction: row;
    align-items: center;
    height:8vh;
    margin-bottom: 0;
    z-index: 2;
    margin: 1vh;
    
}
.credits h3{

    color: beige;
    font-family: poppins;
    font-weight: 500;
}
@media screen and (max-width: 1013px) {

    .footer-social{

        display: flex;
        flex-direction: column;
    }
    .footer-social-links{

        

    }

}