*{

    /* background: #eceaea; */
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    
}
#root{
    overflow-x: hidden;  

}
.navbar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
    background:rgb(80, 4, 151);
    width: 90vw;
}
.header-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:50vh;
    width: 100vw;
    margin-top: -1vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    
}
.profile-photo img{
    width:40vw;
    margin-bottom: 4vh;
}
.social-links{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    width: 100vw;
    margin-bottom: 10vh;
    z-index: 2;
    margin-top: 10vh;
}
.icon
{
    position: relative;
    width:5vh;
    height:5vh;
    border-radius: 50%;
    background: #f9fafa;
    border: 2px solid #7e7b7b;
    margin-left: 2vh;
    overflow: hidden;
}

.icon::after
{
    content: "";
    position: absolute;
    background: #616161;
    width: 7vh;
    height:7vh;
    top:-7vh;
    transition: transform 1s;
}
.icon:nth-child(1)::after
{

    background: #f41c8f;  
}
.icon:nth-child(2)::after
{

    background: #151515;  
}
.icon:nth-child(3)::after
{

    background: #11117e;  
}
.icon:nth-child(4)::after
{

    background: #1c96f4;  
}
.icon:nth-child(5)::after
{

    background: #f31313;  
}
.icon .icon-i{
    position: absolute;
    font-size:3vh;
    margin:auto;
    top:.8vh;
    left:.8vh;
    color:#0f0f0f;
    z-index: 2;

}
.icon:hover  .icon-i:hover
{
    color:#ffffff;
    transform: rotateZ(360deg);
    transition: 2s;
}
 .icon:hover::after 
{

   transform: translateY(7vh);
}


.text-heading{

    font-size: 3vh;
}
.main-heading{
    margin-left: 4vh;
    font-size: 6vh;
    font-weight: 600;
}
.about{

    display: flex;
    flex-direction: column;
    padding:1vh;
    font-size: 2vh;
    margin-top: 10vh;
}
.about-head{

    margin-left: 10vw;
    font-size: 5vh;
    text-align: justify;
    color: rgb(56, 190, 2);
    margin-bottom: 4vh;
}
.skills{

    min-height: 40vh;
    padding-bottom: 10vh;
}
.skills-heading{
    
    font-size: 10vw;
    margin-left:5vw;
    
}

.skills-img{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100vw;
    margin-top: 5vh;
}
.cards
{

    margin:6vw;
    width:12vw;
    margin-bottom: 5vh;
}
.cards img{

    width:12vh;
}
.project-conatiner{

    min-height: 30vh;
    width: 100vw;
    padding-top: 5vh;
}
.proj-head{

    font-size: 5vh;
}
.project-card-container{

    display:flex;
    flex-direction: column;
}
.project-card{

    display: flex;
    flex-direction:column;
    background: #ffffff;

    align-items: center;
    margin: 1vh;
    border-radius: 1vh;
    padding:5vw;
}
.snapshots{

    visibility: hidden;
}
.snapshots img{

    width:0;
    height:0vh;
}

.project-name{

    font-size: 4vh;
    font-weight: 600;
    
}
.desc-project{

    font-size: 2vh;
}
.project-card button{

    align-self: self-end;
    margin-right: 3vw;
}
.education{

    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact-header{

    font-size: 3vh;
}

.form-header{

    display: flex;
    flex-direction: column;
}

.hidden{
    visibility: hidden;
}

/* ============================= Projects ========
*/


.wrapper-btn{

    right:15vw;
}